{{# partial "page"}}
    <div class="row center-xs middle-xs features-row">
        <div class="col-xs-6">
            <h1>Features</h1>
        </div>
    </div>

    {{#each features}}
        <div class="row center-xs feature-row">
            <div class="col-xs-6 accordeon container">
                <div class="accordeon title smooth">
                    {{name}}
                    <div class="fullname">
                        v{{version}} by {{author}}
                    </div>
                </div>
                <div class="accordeon body smooth">
                    <div class="row description">
                        <div class="col-xs-12">
                            {{description}}
                        </div>
                    </div>
                    <div class="row details">
                        <div class="col-xs-6">
                            <div class="row vars">
                                <div class="col-xs-12">
                                    <h1>Parameter:</h1>
                                    <ul>
                                        {{#each params}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                        <ul>
                                </div>
                            </div>
                            <div class="row dependencies">
                                <div class="col-xs-12">
                                    <h1>Dependencies</h1>
                                    <ul>
                                        {{#each dependencies}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            code snippet
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {{/each}}
{{/partial}}

{{# partial "title"}}
    Features | VoxelGamesLib
{{/partial}}

{{>base.hbs}}